        .main {
          background-color: #d8cbcb;
          width: 400px;
          height: 200px;
          margin: 7em auto;
          border-radius: 1.5em;
          box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
        }

        .form {
          padding-top: 40px;
        }

        .pass {
          width: 76%;
          color: rgb(38, 50, 56);
          font-weight: 700;
          font-size: 14px;
          letter-spacing: 1px;
          background: rgba(136, 126, 126, 0.04);
          padding: 10px 20px;
          border: 2px solid rgba(0, 0, 0, 0.18) !important;
          border-radius: 20px;
          outline: none;
          box-sizing: border-box;
          border: 2px solid rgba(0, 0, 0, 0.02);
          margin-bottom: 40px !important;
          margin-left: 46px;
          text-align: center;
          margin-bottom: 27px;
        }


        @media (max-width: 600px) {
          .main {
            border-radius: 0px;
          }

        }

        .submit {
          cursor: pointer;
          text-decoration: none;
          color: #fff;
          transition: all 0.2s ease, visibility 0s;
          border: 0px solid rgb(71, 67, 197);
          background: linear-gradient(126deg, #915ede 22%, #e2028f 67%, #e29502 98%);
          padding-left: 40px;
          padding-right: 40px;
          padding-bottom: 10px;
          padding-top: 10px;
          margin-left: 35%;
          margin-top: 20px;
          font-size: 16px;
          letter-spacing: 2.4px;
          font-family: 'Helvetica', 'Arial', sans-serif;
          font-weight: 800;
          height: 30px;
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
        }
