.top {
  display: flex;
  margin-left: 10px;

}

.navbar-brand {
  color: white !important;
  padding-top: 38px;
  padding-left: 70px;
  letter-spacing: 7px;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold !important;
}


.nav-background {
  background-color: black !important;
}
